:root {
  /* Variables para tema claro */
  --bg-primary: #f1f1f1;
  --bg-secondary: #ffffff;
  --text-primary: #333333;
  --text-secondary: #666666;
  --border-color: #d4d4d4;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --accent-color: #2481fc;
  --accent-hover: #4d7ee0;
}

.dark {
  /* ================================================= */
  /* === Variables para tema oscuro (Tono Azulado) === */
  /* ================================================= */
  --bg-primary: #0d1b2a;      /* Azul naval muy oscuro */
  --bg-secondary: #1b263b;     /* Azul pizarra oscuro */
  --text-primary: #e0e1dd;     /* Blanco roto/gris muy claro */
  --text-secondary: #a9b4c2;  /* Gris azulado claro */
  --border-color: #415a77;     /* Azul pizarra medio */
  --shadow-color: rgba(0, 0, 0, 0.3);
  --accent-color: #63a4f9;     /* Azul brillante (sin cambios) */
  --accent-hover: #4d7ee0;    /* Azul más oscuro para hover (sin cambios) */

  /* La variable --bg-tertiary se eliminó porque era blanca y no encajaba 
     con un tema oscuro. Si necesitas un color para elementos de alto contraste, 
     puedes usar --text-primary o crear una nueva variable. */
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }
  
  body {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    transition: background-color 0.3s ease, color 0.3s ease;
    -webkit-font-smoothing: antialiased; /* Para Chrome, Safari */
    -moz-osx-font-smoothing: grayscale;  /* Para Firefox */
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }

  .page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Altura mínima de toda la pantalla */
    

  }
  
  .content-wrap {
    flex: 1; /* El contenido principal crece para empujar el footer */
  }

  body, button, input, textarea, select, h1, h2, h3, h4, h5, h6, p, div, span {
    font-family: 'Montserrat', sans-serif;
  }

  p {
    font-family: 'Roboto', sans-serif;
  }